couchbase_host: {{ couchbase_host }}
couchbase_management_port: {{ couchbase_management_port }}
couchbase_username: {{ couchbase_username }}
couchbase_password: {{ couchbase_password }}
fake_collections: {{ cmos_exporter_fake_collections }}
log_level: {{ cmos_exporter_log_level }}
bind: {{ cmos_exporter_bind_address }}:{{ cmos_exporter_bind_port }}
couchbase_ssl: {{ couchbase_ssl }}
