couchbase_host: {{ cmos_exporter_couchbase_host }}
couchbase_management_port: {{ cmos_exporter_couchbase_management_port }}
couchbase_username: {{ cmos_exporter_couchbase_username }}
couchbase_password: {{ cmos_exporter_couchbase_password }}
fake_collections: {{ cmos_exporter_fake_collections }}
log_level: {{ cmos_exporter_log_level }}
bind: {{ cmos_exporter_bind_address }}:{{ cmos_exporter_bind_port }}
couchbase_ssl: {{ cmos_exporter_couchbase_ssl }}
