[Unit]
Description=Couchbase Exporter for Prometheus
Documentation=https://github.com/couchbase/couchbase-exporter
Requires=couchbase-server.service
Wants=network-online.target
After=couchbase-server.service

[Service]
User={{ couchbase_exporter_user }}
Group={{ couchbase_exporter_group }}
Type=simple
Restart=on-failure
WorkingDirectory={{ couchbase_exporter_directory }}
EnvironmentFile=-{{ couchbase_exporter_environment_file }}
ExecStart={{ couchbase_exporter_directory }}/bin/couchbase-exporter \
  -server-address {{ couchbase_exporter_server_address }} \
  -server-port {{ couchbase_exporter_server_port }} \
  -couchbase-address {{ couchbase_exporter_cb_address }} \
  -backofflimit {{ couchbase_exporter_backoff_limit }} \
{% if couchbase_exporter_ca | length %}
  -ca {{ couchbase_exporter_ca }} \
{% endif %}
{% if couchbase_exporter_ca | length %}
  -cert {{ couchbase_exporter_certificate }} \
{% endif %}
{% if couchbase_exporter_ca | length %}
  -client-cert {{ couchbase_exporter_client_certificate }} \
{% endif %}
{% if couchbase_exporter_ca | length %}
  -client-key {{ couchbase_exporter_client_key }} \
{% endif %}
{% if couchbase_exporter_ca | length %}
  -key {{ couchbase_exporter_key }} \
{% endif %}
  -log-json {{ couchbase_exporter_log_json }} \
  -log-level {{ couchbase_exporter_log_level }} \
{% if couchbase_exporter_ca | length %}
  -token {{ couchbase_exporter_token }} \
{% endif %}
  -per-node-refresh {{ couchbase_exporter_refresh_rate }}

[Install]
WantedBy=multi-user.target
